#nav {  

position:relative; 

    width: 100%;
    z-index: 9999;
  }
#menu{
width:100%;
position:relative;
background:#90a9ad;
height:55px;
border-bottom:3px solid #0ec2e0;  
z-index:0;
}

#menu3{

position:relative;
background:#c4d8db;
height:55px;
width: 100%;
z-index: 99999999999;
-webkit-box-shadow: 0px 10px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 10px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 10px 5px 0px rgba(50, 50, 50, 0.75); 
}
.navbar-block{
position:relative;
width:100%;
height:40px;
margin: 0 3%  0 3%;

}
.nav-list > li {
width:100px;
display:inline-block;
height:20px;
/* text-align:center; */
margin:10px;
}

.men {
list-style-type: none; /* Убираем маркеры */
width:auto;
display:inline-block;
/* height:20px; */
text-align:center;
margin:4px 10px;
}





#menu_block  > ul li:hover > a{ 
color:#fff ;
transition: color 0.2s ease 0s, all 400ms ease 0s;

}
#menu_block  > ul li:hover {
background:#fff/* 660000 */;
border-bottom:1px solid #eee;
}
#menu_block  ul li > ul li:hover > a{ 
color:#fff ;
font-size:19px;
transition: color 0.2s ease 0s, all 400ms ease 0s;
/* background:#fff; */
}
#menu_block  ul li > ul li:hover{ 
transition: color 0.2s ease 0s, all 400ms ease 0s;
background:#0ec2e0;
}
#menu_block  a{
font-size:24px;
color:#0a3f4c;
/* 
display:block; */
font-family: 'cleanvel';
}
#menu_block  a:hover{
color:#fff;
}
#menu_block  li li a{
font-size:15px;
color:#fff;
}
#menu_block  > ul > li{
position:relative;
display: inline-block;
/* padding: 3px 15px; */
border:1px solid #eee;
border-top:none;

float:left;
height:30px;
max-width:100px;
margin-top:0px; 
margin-left:5px;
/* background:#eee; */
padding:0 10px;
}
#menu_block ul li a{
padding:5px 0;
}
#menu_block ul li  ul{ 
position:absolute;
background:#0a3f4c;
border-right:1px solid #fff;
border-top:1px solid #fff;
display:none;
z-index:99999;
width:350px;
font-family:'Times';
float:left;
opacity:1;
margin-left:-10px;
margin-top:48px;
}
#menu_block ul li > ul > li{
padding:0 10px;
display:block;
width:340px;
float:left;
text-align:left;
height:30px;

}
#menu_block ul li > ul li > ul{
background:#0a3f4c;
border-right:1px solid #fff;
/* display:none; */
z-index:999;
width:350px;
margin-left:330px;
margin-top:0px;
}

ul li > a {
position:relative;
color:#fff;
width:auto;
font-size:130%;
/* text-shadow: 0px 0px 2px rgba(0, 0, 0, 1); */
}
ul li  > a:hover {
color:#fff;

/* text-shadow: 0px 0px 0px rgba(0, 0, 0, 0); */
}
#down_menu_1_btn{

width:267px;
background:url(/img/down_menu_1_btn.png) no-repeat;
}
#down_menu_2_btn{
margin-left:-20px;
width:210px;
background:url(/img/down_menu_2_btn.png) no-repeat;
}
#down_menu_3_btn{
margin-left:-20px;
width:235px;
background:url(/img/down_menu_3_btn.png) no-repeat;
}
#down_menu_4_btn{
margin-left:-20px;
width:235px;
background:url(/img/down_menu_3_btn.png) no-repeat;
}
.down_menu_btn{
height:50px;
cursor:pointer;
display:inline-block;
position:relative;
}
.second_menu{
position:absolute;
left:15px;
}
.second_menu_right{
position:absolute;

}
.down_menu_text{
position:relative;
top:6px;
text-align:centrer;

}
.down_menu_text h2{
margin-top:10px;
text-align:center;
}
#down_menu_1_btn h2{
margin-right:30px;
}
/* .nav-list li > a {
position:relative;
color:#fff;
width:auto;
font-size:130%;
text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
}

.nav-list li > a:hover {

text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
} */