.cont_tech1{
position:relative;
top:-100px;
left:60px;
width:300px;
}
.compas1{
position:relative;
top:-40px;
left:-10px;
float:right;
width:50%;
}
.shturval{
position:relative;

float:right;
}
.intermedia{
position:absolute;
bottom:50px;
float:right;
}