.title_article{
color:#000;
font-size:190%;
}
#article{
padding:20px;
width:90%;
border-left:2px solid #0A3F4C;
border-right:2px solid #FE4902;
}
.text_article{
color:#000;
font-size:150%;
}